# SQL의 예약어는 대문자로 써줄 것

sql 테이블 

https://www.w3schools.com/sql/trysql.asp?filename=trysql_op_in


<br><br>

-------

# SELECT, FROM

### 문제 1

https://www.hackerrank.com/challenges/select-all-sql/problem

In [ ]:
SELECT *
FROM city

### 문제 2
https://www.hackerrank.com/challenges/weather-observation-station-1/problem

In [ ]:
SELECT city, state
FROM station

-----------------------------------------------

# WHERE : 특정 조건

## 비교 연산자 : =, <=, >=, < , >
- 특정 컬럼이 특정 값을 가지는 데이터만 불러오기 위해서 사용
- 숫자 뿐 만 아니라 문자도 가능

## 논리연산자 : AND , OR ,NOT
-AND : ?
-OR :

In [4]:
'''SQL

SELECT *
FROM Customers
WHERE City < 'S' AND CustomerID	> 20 # 알파벳 순서 S 이전, 아이디 20 이상 조건 둘 다 만족

'''

"SQL\n\nSELECT *\nFROM Customers\nWHERE City < 'S' AND CustomerID\t> 20 # 알파벳 순서 S 이전, 아이디 20 이상 조건 둘 다 만족\n\n"

---------------------------

## LIKE : 문자열 패턴

- % : 앞뒤 어떤 문자가 왔으면 좋겠다.

와이드 카드라고 부르기도 한다

### % 예시

In [5]:
'''sql

SELECT *
FROM Customers
WHERE country Like 's%' # s로 시작하는 나라를 보여줘라

'''

"sql\n\nSELECT *\nFROM Customers\nWHERE country Like 's%'\n\n"

### _(언더바) : 빈 칸 맞추기

- 예시 : 소_시대 -> 소녀시대

In [13]:
'''sql

SELECT *
FROM Customers
WHERE country Like 's____' # s로 시작하는 S_____ 5글자가 나와라.

'''

"sql\n\nSELECT *\nFROM Customers\nWHERE country Like 's____' # s로 시작하는 S_____ 5글자가 나와라.\n\n"

### = 예시 : 독일

In [14]:
'''sql

SELECT *
FROM Customers
WHERE COUNTRY = 'Germany'

'''

"sql\n\nSELECT *\nFROM Customers\nWHERE COUNTRY = 'Germany'\n\n"

### IN 예시 : 독일, 프랑스

In [15]:
'''SQL

SELECT *
FROM Customers
WHERE country IN ('Germany' , 'France')

'''

"SQL\n\nSELECT *\nFROM Customers\nWHERE country IN ('Germany' , 'France')\n\n"

###### IN을 안 쓸 경우:

In [16]:
'''SQL

SELECT *
FROM Customers
WHERE country ='Germany' OR country =  'France')

'''

"SQL\n\nSELECT *\nFROM Customers\nWHERE country ='Germany' OR country =  'France')\n\n"

### BETWEEN

In [17]:
'''
SELECT *
FROM Customers
WHERE CustomerID BETWEEN 3 AND 5

'''

'\nSELECT *\nFROM Customers\nWHERE CustomerID BETWEEN 3 AND 5\n\n'

###### BETWEEN을 안 쓸 경우:

In [18]:
'''
SELECT *
FROM Customers
WHERE CustomerID >= 3 AND CustomerID <=  5

'''

'\nSELECT *\nFROM Customers\nWHERE CustomerID >= 3 AND CustomerID <=  5\n\n'

### ISNULL
- NULL은 숫자도 아니고 문자도 아니다. 비어 있는 값이다.

In [19]:
'''
SELECT *
FROM Customers
WHERE CustomerID IS NULL

'''

'\nSELECT *\nFROM Customers\nWHERE CustomerID IS NULL\n\n'

<BR><BR><BR>

## 문제 1

----------------------------