SQL 데이터 링크 : https://www.w3schools.com/sql/trysql.asp?filename=trysql_op_in

<BR><BR>
    
---------------------

# CASE : 조건

#### case 문에서는 when절의 순서가 매우 중요하다. 
#### 이럴 때는 해당하는 갯수가 가정 적은 when절을 먼저 쓴다

In [3]:
'''case 문 구조
SELECT CASE
            WHEN  ~~~~
            WHEN  ~~~~
        END
FROM

'''

'case 문 구조\nSELECT CASE\n            WHEN  ~~~~\n            WHEN  ~~~~\n        END\nFROM\n\n'

## CASE문 예시

In [1]:
'''
SELECT CASE 
            WHEN categoryid = 1 THEN '음료'
            WHEN categoryid = 2 THEN '조미료'
            ELSE '기타'
       END AS 'categoryidName', *  --- case문 컬럼 별칭
FROM Products
'''

"\nSELECT CASE \n            WHEN categoryid = 1 THEN '음료'\n            WHEN categoryid = 2 THEN '조미료'\n            ELSE '기타'\n       END, *\nFROM Products\n"

## CASE문 예시 : AND

In [4]:
'''
SELECT CASE 
            WHEN categoryid = 1 AND SupplierID = 1 THEN '음료' -- 두 조건을 만족할 때만, 음료
            WHEN categoryid = 2 THEN '조미료'
            ELSE '기타'
       END AS 'categoryidName', *  
FROM Products
'''

"\nSELECT CASE \n            WHEN categoryid = 1 AND SupplierID = 1 THEN '음료'\n            WHEN categoryid = 2 THEN '조미료'\n            ELSE '기타'\n       END AS 'categoryidName', *  \nFROM Products\n"

## CASE 예시 : CASE + GROUP BY

CASE문으로 컬럼을 만들어주고, 그 컬럼을 GORUP BY 할 수 있다.
<BR>

카테고리 별로 1,2,논외 나눠주고 그 컬럼들의 평균 가격들을 구해라

In [5]:
'''
SELECT CASE
            WHEN categoryid = 1 THEN '음료'
            WHEN categoryid = 2 THEN '소스'
            ELSE '논외'
        END AS new_category
        , AVG(Price)
FROM Products
GROUP BY new_category
'''

"\nSELECT CASE\n            WHEN categoryid = 1 THEN '음료'\n            WHEN categoryid = 2 THEN '소스'\n            ELSE '논외'\n        END AS new_category\n        , AVG(Price)\nFROM Products\nGROUP BY new_category\n"

<BR><BR>

---------

# 문제 1 : 삼각형 문제

https://www.hackerrank.com/challenges/what-type-of-triangle/problem?h_r=internal-search

**when절의 순서가 매우 중요하다**

- 정삼각형 , 이등변, 삼각형, 삼각형이 안된다 조건문을 만들어라

In [ ]:
'''
SELECT CASE
            WHEN A = B AND B = C THEN 'Equilateral'
            WHEN A + B <= C OR A + C <= B OR B + C <= A  THEN 'NOT a Triangle'
            WHEN A = B OR B = C OR A = C THEN 'Isosceles'
            ELSE 'Scalene'
        END , A, B, C  --- Sql 문제를 풀 때 출력값을 한번 뽑아서 확인하자
FROM Triangles
'''